{
	"env": {
		"node": true,
		"es6": true
	},
	"parserOptions": {
		"ecmaFeatures": {
			"arrowFunctions": true,
			"blockBindings": true,
			"classes": true,
			"defaultParams": true,
			"destructuring": true,
			"forOf": true,
			"generators": true,
			"modules": true,
			"objectLiteralComputedProperties": true,
			"objectLiteralShorthandMethods": true,
			"objectLiteralShorthandProperties": true,
			"spread": true,
			"templateStrings": true,
			"unicodeCodePointEscapes": true
		},
	},
	"rules": {
		//
		//Possible Errors
		//
		"comma-dangle": 2,
		"no-dupe-args": 2,
		"no-dupe-keys": 2,
		"no-extra-semi": 2,
		"no-invalid-regexp": 2,
		"no-regex-spaces": 2,

		// Best Practices
		//
		"no-console": 2,
		"complexity": [1, 4],
		"max-depth": [2, 3],
		"no-extra-bind": 1,
		"default-case": 2,
		"dot-notation": 2,
		"eqeqeq": 2,
		"no-alert": 2,
		"no-eval": 2,
		"no-implied-eval": 2,
		"no-loop-func": 1,
		"no-redeclare": 2,
		"no-return-assign": 2,
		"no-sequences": 2,
		"no-with": 2,
		"radix": 2,
		"wrap-iife": 2,
		"yoda": 2,

		// Variables
		//
		"no-delete-var": 2,
		"no-undef": 2,


		// Style
		//
		"camelcase": 1,
		"indent": [1, "tab"],
		"comma-spacing": [1, {"before": false, "after": true}],
		 "comma-style": [1, "last"],
		 "consistent-this": [1, "self"],
		 "eol-last": 1,
		 "key-spacing": [1, {"beforeColon": false, "afterColon": true}],
		 "new-parens": 1,
		 "no-lonely-if": 1,
		 "no-nested-ternary": 1,
		 "no-spaced-func": 1,
		 "no-trailing-spaces": 1,
		 "no-underscore-dangle": 1,
		 "operator-assignment": [2, "always"],
		 "operator-linebreak": [2, "after"],
		 "quote-props": [1, "as-needed"],
		"quotes": [2, "single"],
		"semi": [1, "always"],
		"semi-spacing": [2, {"before": false, "after": true}],
		"space-infix-ops": 1,
		"keyword-spacing": [2, { "overrides": {
			"if": { "after": false },
			"for": { "after": false },
			"while": { "after": false }
		} }],
		"space-unary-ops": [1, {"words": true, "nonwords": false}],
		"wrap-regex": 2,
	}
}
